In [4]:
import pandas as pd

# Leitura das bases

In [10]:
# Tabelas a serem trabalhadas -> Processa - Produção - Cómercio
path_processa_americana = '../Dados/tech-challenge/content/ProcessaAmericanas.csv'
path_processa_mesa = '../Dados/tech-challenge/content/ProcessaMesa.csv'
path_processa_sem = '../Dados/tech-challenge/content/ProcessaSemclass.csv'
path_processa_vinifiras = '../Dados/tech-challenge/content/ProcessaViniferas.csv'
path_producao = '../Dados/tech-challenge/content/Producao.csv'
path_comercio = '../Dados/tech-challenge/content/Comercio.csv'

In [11]:
df_processa_americana = pd.read_csv(path_processa, sep=';')
df_processa_mesa = pd.read_csv(path_processa_mesa, sep=';')
df_processa_sem = pd.read_csv(path_processa_sem, sep=';')
df_processa_viniferas = pd.read_csv(path_processa_vinifiras, sep=';')
df_producao = pd.read_csv(path_producao, sep=';')
df_comercio = pd.read_csv(path_comercio, sep=';')

In [8]:
df_processa_americana.head(5)

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,TINTAS,TINTAS,284285642,193695427,187251954,161593877,295404693,282003228,222289729,...,527332818,460738996,471555903,537592720,235356261,600605876,519506589,nd,376136313,394224543
1,2,ti_Bacarina,Bacarina,82899,106962,67464,58690,138158,101454,57297,...,3820,2990,3900,0,0,0,0,nd,0,0
2,3,ti_Bailey,Bailey,0,0,0,0,0,0,0,...,912286,756000,991449,963159,442784,1370092,539742,nd,534981,4092669
3,4,ti_Bordo,Bordo,7242197,7227090,6530686,5584243,13341412,16023998,12725233,...,127378006,102788361,113008320,137467196,60976531,160146475,158405972,nd,129978861,117655879
4,5,ti_Bourdin (S),Bourdin (S),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nd,0,0

In [12]:
df_processa_mesa.head(5)

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,TINTAS,TINTAS,56976,43390,4428,8939,125563,183731,88512,...,145132,75362,65850,108797,51310,85510,62567,nd,63474,21732
1,2,ti_ Alphonse Lavallee,Alphonse Lavallee,31878,2333,170,7690,124762,74293,23684,...,0,0,0,0,0,0,0,nd,0,0
2,3,ti_ Moscato de Hamburgo,Moscato de Hamburgo,25098,41057,4258,1249,801,109438,64828,...,145132,75362,65850,108797,51310,85510,62567,nd,63474,21732
3,4,BRANCAS,BRANCAS,3900,16335,6829,8052,278951,587745,153445,...,62564,4412,30600,64540,3260,5900,730,nd,45610,52760
4,5,br_Cardinal,Cardinal,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nd,0,0

In [13]:
df_processa_sem.head(5)

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,sc,Sem classificação,3675463,665425,197232,491357,57307,540146,24440,...,0,0,0,0,0,0,0,nd,166947,0

In [14]:
df_processa_viniferas.head(5)

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,TINTAS,TINTAS,10448228,11012833,10798824,8213674,17457849,22593885,20265190,...,39303313,36855419,29810706,29935627,13370866,32850915,26868514,nd,28003505,93296587
1,2,ti_Alicante Bouschet,Alicante Bouschet,0,0,0,0,0,0,0,...,2098824,1524728,1456305,1519576,908841,2040198,2103844,nd,2272985,811140
2,3,ti_Ancelota,Ancelota,0,0,0,0,0,0,0,...,1274677,1137943,937844,773526,179028,733907,492106,nd,481402,6513974
3,4,ti_Aramon,Aramon,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nd,0,0
4,5,ti_Alfrocheiro,Alfrocheiro,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nd,0,0

In [15]:
df_producao.head(5)

,1,VINHO DE MESA,VINHO DE MESA.1,217208604,154264651,146953297,116710345,193875345,177401209,144565438,...,212777037,196904222,196173123,210308560,86319015,255015187,218375636,144629737,124200414,173899995
0,2,vm_Tinto,Tinto,174224052,121133369,118180926,88589019,146544484,144274134,118360170,...,175875432,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996
1,3,vm_Branco,Branco,748400,1160500,1812367,243900,4138768,1441507,1871473,...,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799
2,4,vm_Rosado,Rosado,42236152,31970782,26960004,27877426,43192093,31685568,24333795,...,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200
3,5,VINHO FINO DE MESA (VINÍFERA),VINHO FINO DE MESA (VINÍFERA),23899346,23586062,21078771,12368410,31644124,39424590,34500590,...,45200730,45782530,38464314,37148982,18070626,44537870,38707220,37615422,32516686,43474998
4,6,vv_Tinto,Tinto,7591557,7265666,6782837,3419625,10047658,14731106,12405154,...,24027589,23156458,17208996,16745896,8774847,21442212,19118254,17389377,15451883,20433249

In [16]:
df_comercio.head(5)

,1,VINHO DE MESA,VINHO DE MESA.1,98327606,114399031,118377367,116617910,94173324,108031792,139238614,...,206969571,221590810,206404427,209198468,166769622,176059959,177186273,180446489,215557931,210012238
0,2,vm_Tinto,Tinto,83300735,98522869,101167932,98196747,77167303,91528090,116407222,...,173964776,188033494,178250072,182028785,146646365,154309442,155115499,158519218,189573423,185653678
1,3,vm_Rosado,Rosado,107681,542274,7770851,8425617,8891367,7261777,11748047,...,1738134,1777648,1419855,1409002,1391942,1097426,1972944,1265435,1394901,1931606
2,4,vm_Branco,Branco,14919190,15333888,9438584,9995546,8114654,9241925,11083345,...,31266661,31779668,26734500,25760681,18731315,20653091,20097830,20661836,24589607,22426954
3,5,VINHO FINO DE MESA,VINHO FINO DE MESA,4430629,4840369,5602091,7202830,7571802,8848303,14095648,...,22469950,27912934,20424983,20141631,19630158,15874354,14826143,15684588,24310834,27080445
4,6,vm_Tinto,Tinto,435354,428927,624499,783508,1616144,2050960,4450570,...,15443016,19121750,15354938,15572632,15228514,12021684,11150517,11433702,18202453,19337862

# Validação das tabelas - Processa

In [18]:
df_processa_americana.head()

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,TINTAS,TINTAS,284285642,193695427,187251954,161593877,295404693,282003228,222289729,...,527332818,460738996,471555903,537592720,235356261,600605876,519506589,nd,376136313,394224543
1,2,ti_Bacarina,Bacarina,82899,106962,67464,58690,138158,101454,57297,...,3820,2990,3900,0,0,0,0,nd,0,0
2,3,ti_Bailey,Bailey,0,0,0,0,0,0,0,...,912286,756000,991449,963159,442784,1370092,539742,nd,534981,4092669
3,4,ti_Bordo,Bordo,7242197,7227090,6530686,5584243,13341412,16023998,12725233,...,127378006,102788361,113008320,137467196,60976531,160146475,158405972,nd,129978861,117655879
4,5,ti_Bourdin (S),Bourdin (S),0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,nd,0,0

In [17]:
df_processa_americana.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 55 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        60 non-null     int64
 1   control   60 non-null     object
 2   cultivar  60 non-null     object
 3   1970      60 non-null     int64
 4   1971      60 non-null     int64
 5   1972      60 non-null     int64
 6   1973      60 non-null     int64
 7   1974      60 non-null     int64
 8   1975      60 non-null     int64
 9   1976      60 non-null     int64
 10  1977      60 non-null     int64
 11  1978      60 non-null     int64
 12  1979      60 non-null     int64
 13  1980      60 non-null     int64
 14  1981      60 non-null     int64
 15  1982      60 non-null     int64
 16  1983      60 non-null     int64
 17  1984      60 non-null     int64
 18  1985      60 non-null     int64
 19  1986      60 non-null     int64
 20  1987      60 non-null     int64
 21  1988      60 non-null     int64
 22  1989      60 non-null     int64
 23  1990      60 non-null     int64
 24  1991      60 non-null     int64
 25  1992      60 non-null     int64
 26  1993      60 non-null     int64
 27  1994      60 non-null     int64
 28  1995      60 non-null     int64
 29  1996      60 non-null     int64
 30  1997      60 non-null     int64
 31  1998      60 non-null     int64
 32  1999      60 non-null     int64
 33  2000      60 non-null     int64
 34  2001      60 non-null     int64
 35  2002      60 non-null     int64
 36  2003      60 non-null     int64
 37  2004      60 non-null     int64
 38  2005      60 non-null     int64
 39  2006      60 non-null     int64
 40  2007      60 non-null     int64
 41  2008      60 non-null     int64
 42  2009      60 non-null     int64
 43  2010      60 non-null     int64
 44  2011      60 non-null     int64
 45  2012      60 non-null     int64
 46  2013      60 non-null     int64
 47  2014      60 non-null     int64
 48  2015      60 non-null     int64
 49  2016      60 non-null     int64
 50  2017      60 non-null     int64
 51  2018      60 non-null     int64
 52  2019      60 non-null     object
 53  2020      60 non-null     int64
 54  2021      60 non-null     int64
dtypes: int64(52), object(3)
memory usage: 25.9+ KB

In [53]:
# Removendo valores de tintas e brancas
# Descobrindo o valore do index e deletando
df_processa_americana.loc[df_processa_americana['cultivar'] == 'TINTAS']
df_processa_americana.loc[df_processa_americana['cultivar'] == 'BRANCAS E ROSADAS']

df_processa_americana.drop(index=35, inplace=True)
df_processa_americana.drop(index=0, inplace=True)

#df_processa_americana.head()

In [55]:
df_processa_mesa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 55 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        10 non-null     int64
 1   control   10 non-null     object
 2   cultivar  10 non-null     object
 3   1970      10 non-null     int64
 4   1971      10 non-null     int64
 5   1972      10 non-null     int64
 6   1973      10 non-null     int64
 7   1974      10 non-null     int64
 8   1975      10 non-null     int64
 9   1976      10 non-null     int64
 10  1977      10 non-null     int64
 11  1978      10 non-null     int64
 12  1979      10 non-null     int64
 13  1980      10 non-null     int64
 14  1981      10 non-null     int64
 15  1982      10 non-null     int64
 16  1983      10 non-null     int64
 17  1984      10 non-null     int64
 18  1985      10 non-null     int64
 19  1986      10 non-null     int64
 20  1987      10 non-null     int64
 21  1988      10 non-null     int64
 22  1989      10 non-null     int64
 23  1990      10 non-null     int64
 24  1991      10 non-null     int64
 25  1992      10 non-null     int64
 26  1993      10 non-null     int64
 27  1994      10 non-null     int64
 28  1995      10 non-null     int64
 29  1996      10 non-null     int64
 30  1997      10 non-null     int64
 31  1998      10 non-null     int64
 32  1999      10 non-null     int64
 33  2000      10 non-null     int64
 34  2001      10 non-null     int64
 35  2002      10 non-null     int64
 36  2003      10 non-null     int64
 37  2004      10 non-null     int64
 38  2005      10 non-null     int64
 39  2006      10 non-null     int64
 40  2007      10 non-null     int64
 41  2008      10 non-null     int64
 42  2009      10 non-null     int64
 43  2010      10 non-null     int64
 44  2011      10 non-null     int64
 45  2012      10 non-null     int64
 46  2013      10 non-null     int64
 47  2014      10 non-null     int64
 48  2015      10 non-null     int64
 49  2016      10 non-null     int64
 50  2017      10 non-null     int64
 51  2018      10 non-null     int64
 52  2019      10 non-null     object
 53  2020      10 non-null     int64
 54  2021      10 non-null     int64
dtypes: int64(52), object(3)
memory usage: 4.4+ KB

In [70]:
df_processa_viniferas.tail()

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
130,131,br_Verdiso,Verdiso,7950,770,0,0,0,0,0,...,0,0,0,0,0,0,0,nd,0,0
131,132,br_Vermentino,Vermentino,20461,6097,8945,6153,8954,7070,6478,...,4844,3220,1890,790,0,0,0,nd,0,0
132,133,br_Vernaccia,Vernaccia,122467,190297,111691,65995,114553,135975,142787,...,3780,7970,4150,4760,0,5100,4020,nd,95680,0
133,134,br_Viognier,Viognier,0,0,0,0,0,0,0,...,200288,247081,149333,285217,95231,365103,470555,nd,531026,78305
134,135,br_Outras(3),Outras(3),2126291,1148313,648335,334680,200652,270015,2089793,...,0,0,0,0,0,0,0,nd,0,0

In [58]:
df_processa_mesa.loc[df_processa_mesa['cultivar'] == 'TINTAS']
df_processa_mesa.loc[df_processa_mesa['cultivar'] == 'BRANCAS']

df_processa_mesa.drop(index=0, inplace=True)
df_processa_mesa.drop(index=3, inplace=True)

In [61]:
# Não precisa remover as linhas de  tipagem
df_processa_sem

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,sc,Sem classificação,3675463,665425,197232,491357,57307,540146,24440,...,0,0,0,0,0,0,0,nd,166947,0

In [65]:
df_processa_viniferas.loc[df_processa_viniferas['cultivar']=='TINTAS'] # 0
df_processa_viniferas.loc[df_processa_viniferas['cultivar']=='BRANCAS E ROSADAS'] # 70

df_processa_viniferas.drop(index=0, inplace=True)
df_processa_viniferas.drop(index=70, inplace=True)

In [69]:
df_processa_viniferas.drop(index=135, inplace=True)

In [66]:
df_processa_viniferas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134 entries, 1 to 135
Data columns (total 55 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        134 non-null    int64
 1   control   133 non-null    object
 2   cultivar  133 non-null    object
 3   1970      134 non-null    int64
 4   1971      134 non-null    int64
 5   1972      134 non-null    int64
 6   1973      134 non-null    int64
 7   1974      134 non-null    int64
 8   1975      134 non-null    int64
 9   1976      134 non-null    int64
 10  1977      134 non-null    int64
 11  1978      134 non-null    int64
 12  1979      134 non-null    int64
 13  1980      134 non-null    int64
 14  1981      134 non-null    int64
 15  1982      134 non-null    int64
 16  1983      134 non-null    int64
 17  1984      134 non-null    int64
 18  1985      134 non-null    int64
 19  1986      134 non-null    int64
 20  1987      134 non-null    int64
 21  1988      134 non-null    int64
 22  1989      134 non-null    int64
 23  1990      134 non-null    int64
 24  1991      134 non-null    int64
 25  1992      134 non-null    int64
 26  1993      134 non-null    int64
 27  1994      134 non-null    int64
 28  1995      134 non-null    int64
 29  1996      134 non-null    int64
 30  1997      134 non-null    int64
 31  1998      134 non-null    int64
 32  1999      134 non-null    int64
 33  2000      134 non-null    int64
 34  2001      134 non-null    int64
 35  2002      134 non-null    int64
 36  2003      134 non-null    int64
 37  2004      134 non-null    int64
 38  2005      134 non-null    int64
 39  2006      134 non-null    int64
 40  2007      134 non-null    int64
 41  2008      134 non-null    int64
 42  2009      134 non-null    int64
 43  2010      134 non-null    int64
 44  2011      134 non-null    int64
 45  2012      134 non-null    int64
 46  2013      134 non-null    int64
 47  2014      134 non-null    int64
 48  2015      134 non-null    int64
 49  2016      134 non-null    int64
 50  2017      134 non-null    int64
 51  2018      134 non-null    int64
 52  2019      133 non-null    object
 53  2020      134 non-null    int64
 54  2021      134 non-null    int64
dtypes: int64(52), object(3)
memory usage: 58.6+ KB

In [71]:
# Merge das processa
df_processa = pd.concat([df_processa_americana,df_processa_mesa,df_processa_viniferas,df_processa_sem])

In [72]:
df_processa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 0
Data columns (total 55 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        200 non-null    int64
 1   control   200 non-null    object
 2   cultivar  200 non-null    object
 3   1970      200 non-null    int64
 4   1971      200 non-null    int64
 5   1972      200 non-null    int64
 6   1973      200 non-null    int64
 7   1974      200 non-null    int64
 8   1975      200 non-null    int64
 9   1976      200 non-null    int64
 10  1977      200 non-null    int64
 11  1978      200 non-null    int64
 12  1979      200 non-null    int64
 13  1980      200 non-null    int64
 14  1981      200 non-null    int64
 15  1982      200 non-null    int64
 16  1983      200 non-null    int64
 17  1984      200 non-null    int64
 18  1985      200 non-null    int64
 19  1986      200 non-null    int64
 20  1987      200 non-null    int64
 21  1988      200 non-null    int64
 22  1989      200 non-null    int64
 23  1990      200 non-null    int64
 24  1991      200 non-null    int64
 25  1992      200 non-null    int64
 26  1993      200 non-null    int64
 27  1994      200 non-null    int64
 28  1995      200 non-null    int64
 29  1996      200 non-null    int64
 30  1997      200 non-null    int64
 31  1998      200 non-null    int64
 32  1999      200 non-null    int64
 33  2000      200 non-null    int64
 34  2001      200 non-null    int64
 35  2002      200 non-null    int64
 36  2003      200 non-null    int64
 37  2004      200 non-null    int64
 38  2005      200 non-null    int64
 39  2006      200 non-null    int64
 40  2007      200 non-null    int64
 41  2008      200 non-null    int64
 42  2009      200 non-null    int64
 43  2010      200 non-null    int64
 44  2011      200 non-null    int64
 45  2012      200 non-null    int64
 46  2013      200 non-null    int64
 47  2014      200 non-null    int64
 48  2015      200 non-null    int64
 49  2016      200 non-null    int64
 50  2017      200 non-null    int64
 51  2018      200 non-null    int64
 52  2019      200 non-null    object
 53  2020      200 non-null    int64
 54  2021      200 non-null    int64
dtypes: int64(52), object(3)
memory usage: 87.5+ KB

In [106]:
df_processa_filtrada =df_processa[['control', 'cultivar','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']]

In [97]:
df_periodos = df_processa.iloc[:,40:55]
df_tipos = df_processa.iloc[:, 1:3]
df_tipos

            control           cultivar
1       ti_Bacarina           Bacarina
2         ti_Bailey             Bailey
3          ti_Bordo              Bordo
4    ti_Bourdin (S)        Bourdin (S)
5      ti_BRSCarmen         BRS Carmen
..              ...                ...
131   br_Vermentino         Vermentino
132    br_Vernaccia          Vernaccia
133     br_Viognier           Viognier
134    br_Outras(3)          Outras(3)
0                sc  Sem classificação

[200 rows x 2 columns]

In [96]:
df_periodos

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,12070,16780,10810,7850,12930,3820,2990,3900,0,0,0,0,nd,0,0
2,236139,235828,559815,604895,769140,912286,756000,991449,963159,442784,1370092,539742,nd,534981,4092669
3,76907674,97644667,69521354,89066377,139754250,127378006,102788361,113008320,137467196,60976531,160146475,158405972,nd,129978861,117655879
4,0,0,0,26990,0,0,0,0,0,0,0,0,nd,0,0
5,0,0,0,2296,48450,278602,605728,1553111,2891792,2964574,6771269,7472984,nd,11540681,13771662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,660,3090,1940,560,5480,4844,3220,1890,790,0,0,0,nd,0,0
132,32672,21146,14498,6520,4930,3780,7970,4150,4760,0,5100,4020,nd,95680,0
133,37628,41338,49935,76145,144979,200288,247081,149333,285217,95231,365103,470555,nd,531026,78305
134,0,0,0,0,0,0,0,0,0,0,0,0,nd,0,0
0,0,0,0,0,0,0,0,0,0,0,0,0,nd,166947,0

In [100]:
# Novo jeito de juntar as tabelas pela colunas
df_concat = pd.concat([df_tipos, df_periodos], axis=1)
df_concat

,control,cultivar,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,ti_Bacarina,Bacarina,12070,16780,10810,7850,12930,3820,2990,3900,0,0,0,0,nd,0,0
2,ti_Bailey,Bailey,236139,235828,559815,604895,769140,912286,756000,991449,963159,442784,1370092,539742,nd,534981,4092669
3,ti_Bordo,Bordo,76907674,97644667,69521354,89066377,139754250,127378006,102788361,113008320,137467196,60976531,160146475,158405972,nd,129978861,117655879
4,ti_Bourdin (S),Bourdin (S),0,0,0,26990,0,0,0,0,0,0,0,0,nd,0,0
5,ti_BRSCarmen,BRS Carmen,0,0,0,2296,48450,278602,605728,1553111,2891792,2964574,6771269,7472984,nd,11540681,13771662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,br_Vermentino,Vermentino,660,3090,1940,560,5480,4844,3220,1890,790,0,0,0,nd,0,0
132,br_Vernaccia,Vernaccia,32672,21146,14498,6520,4930,3780,7970,4150,4760,0,5100,4020,nd,95680,0
133,br_Viognier,Viognier,37628,41338,49935,76145,144979,200288,247081,149333,285217,95231,365103,470555,nd,531026,78305
134,br_Outras(3),Outras(3),0,0,0,0,0,0,0,0,0,0,0,0,nd,0,0
0,sc,Sem classificação,0,0,0,0,0,0,0,0,0,0,0,0,nd,166947,0

In [117]:
df_processa_filtrada.head()

,control,cultivar,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,ti_Bacarina,Bacarina,12070,16780,10810,7850,12930,3820,2990,3900,0,0,0,0,0,0,0
2,ti_Bailey,Bailey,236139,235828,559815,604895,769140,912286,756000,991449,963159,442784,1370092,539742,0,534981,4092669
3,ti_Bordo,Bordo,76907674,97644667,69521354,89066377,139754250,127378006,102788361,113008320,137467196,60976531,160146475,158405972,0,129978861,117655879
4,ti_Bourdin (S),Bourdin (S),0,0,0,26990,0,0,0,0,0,0,0,0,0,0,0
5,ti_BRSCarmen,BRS Carmen,0,0,0,2296,48450,278602,605728,1553111,2891792,2964574,6771269,7472984,0,11540681,13771662

# Validação das tabelas - Outras

In [127]:
# Obtendo o nome das colunas para 
columns_name = df_processa.columns

In [128]:
df_producao_com_titulo = pd.read_csv(path_producao, sep=';', names=columns_name)

In [134]:
df_producao_com_titulo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 55 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        51 non-null     int64
 1   control   51 non-null     object
 2   cultivar  51 non-null     object
 3   1970      51 non-null     int64
 4   1971      51 non-null     int64
 5   1972      51 non-null     int64
 6   1973      51 non-null     int64
 7   1974      51 non-null     int64
 8   1975      51 non-null     int64
 9   1976      51 non-null     int64
 10  1977      51 non-null     int64
 11  1978      51 non-null     int64
 12  1979      51 non-null     int64
 13  1980      51 non-null     int64
 14  1981      51 non-null     int64
 15  1982      51 non-null     int64
 16  1983      51 non-null     int64
 17  1984      51 non-null     int64
 18  1985      51 non-null     int64
 19  1986      51 non-null     int64
 20  1987      51 non-null     int64
 21  1988      51 non-null     int64
 22  1989      51 non-null     int64
 23  1990      51 non-null     int64
 24  1991      51 non-null     int64
 25  1992      51 non-null     int64
 26  1993      51 non-null     int64
 27  1994      51 non-null     int64
 28  1995      51 non-null     int64
 29  1996      51 non-null     int64
 30  1997      51 non-null     int64
 31  1998      51 non-null     int64
 32  1999      51 non-null     int64
 33  2000      51 non-null     int64
 34  2001      51 non-null     int64
 35  2002      51 non-null     int64
 36  2003      51 non-null     int64
 37  2004      51 non-null     int64
 38  2005      51 non-null     int64
 39  2006      51 non-null     int64
 40  2007      51 non-null     int64
 41  2008      51 non-null     int64
 42  2009      51 non-null     int64
 43  2010      51 non-null     int64
 44  2011      51 non-null     int64
 45  2012      51 non-null     int64
 46  2013      51 non-null     int64
 47  2014      51 non-null     int64
 48  2015      51 non-null     int64
 49  2016      51 non-null     int64
 50  2017      51 non-null     int64
 51  2018      51 non-null     int64
 52  2019      51 non-null     int64
 53  2020      51 non-null     int64
 54  2021      51 non-null     int64
dtypes: int64(53), object(2)
memory usage: 22.0+ KB

In [135]:
df_producao_com_titulo[df_producao_com_titulo['control'] == 'VINHO DE MESA'] #0
df_producao_com_titulo[df_producao_com_titulo['control'] == 'VINHO FINO DE MESA (VINÍFERA)']#4
df_producao_com_titulo[df_producao_com_titulo['control'] == 'SUCO'] # 8
df_producao_com_titulo[df_producao_com_titulo['control'] == 'DERIVADOS'] # 14

df_producao_com_titulo.drop(index=0, inplace=True)
df_producao_com_titulo.drop(index=4, inplace=True)
df_producao_com_titulo.drop(index=8, inplace=True)
df_producao_com_titulo.drop(index=14, inplace=True)

In [136]:
df_producao_com_titulo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 1 to 50
Data columns (total 55 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        47 non-null     int64
 1   control   47 non-null     object
 2   cultivar  47 non-null     object
 3   1970      47 non-null     int64
 4   1971      47 non-null     int64
 5   1972      47 non-null     int64
 6   1973      47 non-null     int64
 7   1974      47 non-null     int64
 8   1975      47 non-null     int64
 9   1976      47 non-null     int64
 10  1977      47 non-null     int64
 11  1978      47 non-null     int64
 12  1979      47 non-null     int64
 13  1980      47 non-null     int64
 14  1981      47 non-null     int64
 15  1982      47 non-null     int64
 16  1983      47 non-null     int64
 17  1984      47 non-null     int64
 18  1985      47 non-null     int64
 19  1986      47 non-null     int64
 20  1987      47 non-null     int64
 21  1988      47 non-null     int64
 22  1989      47 non-null     int64
 23  1990      47 non-null     int64
 24  1991      47 non-null     int64
 25  1992      47 non-null     int64
 26  1993      47 non-null     int64
 27  1994      47 non-null     int64
 28  1995      47 non-null     int64
 29  1996      47 non-null     int64
 30  1997      47 non-null     int64
 31  1998      47 non-null     int64
 32  1999      47 non-null     int64
 33  2000      47 non-null     int64
 34  2001      47 non-null     int64
 35  2002      47 non-null     int64
 36  2003      47 non-null     int64
 37  2004      47 non-null     int64
 38  2005      47 non-null     int64
 39  2006      47 non-null     int64
 40  2007      47 non-null     int64
 41  2008      47 non-null     int64
 42  2009      47 non-null     int64
 43  2010      47 non-null     int64
 44  2011      47 non-null     int64
 45  2012      47 non-null     int64
 46  2013      47 non-null     int64
 47  2014      47 non-null     int64
 48  2015      47 non-null     int64
 49  2016      47 non-null     int64
 50  2017      47 non-null     int64
 51  2018      47 non-null     int64
 52  2019      47 non-null     int64
 53  2020      47 non-null     int64
 54  2021      47 non-null     int64
dtypes: int64(53), object(2)
memory usage: 20.6+ KB

In [138]:
filtro_colunas = ['control', 'cultivar','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']

In [141]:
df_producao_filtrada = df_producao_com_titulo[filtro_colunas]
df_producao_filtrada.head()

,control,cultivar,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,vm_Tinto,Tinto,228156220,241057928,164143454,157290088,210113358,175875432,163111797,157776363,169811472,75279191,1365957,188270142,121045115,103916391,146075996
2,vm_Branco,Branco,42118552,42942053,39211278,35408083,46007504,34938249,32066403,37438069,39557250,10727099,217527985,29229970,22032828,19568734,26432799
3,vm_Rosado,Rosado,5013136,3506830,2063474,2569809,1719887,1963356,1726022,958691,939838,312725,36121245,875524,1551794,715289,1391200
5,vv_Tinto,Tinto,24786071,27583032,18209043,11401406,24104740,24027589,23156458,17208996,16745896,8774847,21442212,19118254,17389377,15451883,20433249
6,vv_Branco,Branco,17598428,18812571,21366975,13013027,22739426,20647238,21906349,20054804,19561966,8705066,21928400,18297257,18193055,15487915,20867999

In [153]:
# Tabela de comerciação
df_comercio_com_titulo = pd.read_csv(path_comercio, sep=';', names=columns_name)

In [154]:
df_comercio_com_titulo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 55 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        61 non-null     int64
 1   control   61 non-null     object
 2   cultivar  61 non-null     object
 3   1970      61 non-null     int64
 4   1971      61 non-null     int64
 5   1972      61 non-null     int64
 6   1973      61 non-null     int64
 7   1974      61 non-null     int64
 8   1975      61 non-null     int64
 9   1976      61 non-null     int64
 10  1977      61 non-null     int64
 11  1978      61 non-null     int64
 12  1979      61 non-null     int64
 13  1980      61 non-null     int64
 14  1981      61 non-null     int64
 15  1982      61 non-null     int64
 16  1983      61 non-null     int64
 17  1984      61 non-null     int64
 18  1985      61 non-null     int64
 19  1986      61 non-null     int64
 20  1987      61 non-null     int64
 21  1988      61 non-null     int64
 22  1989      61 non-null     int64
 23  1990      61 non-null     int64
 24  1991      61 non-null     int64
 25  1992      61 non-null     int64
 26  1993      61 non-null     int64
 27  1994      61 non-null     int64
 28  1995      61 non-null     int64
 29  1996      61 non-null     int64
 30  1997      61 non-null     int64
 31  1998      61 non-null     int64
 32  1999      61 non-null     int64
 33  2000      61 non-null     int64
 34  2001      61 non-null     int64
 35  2002      61 non-null     int64
 36  2003      61 non-null     int64
 37  2004      61 non-null     int64
 38  2005      61 non-null     int64
 39  2006      61 non-null     int64
 40  2007      61 non-null     int64
 41  2008      61 non-null     int64
 42  2009      61 non-null     int64
 43  2010      61 non-null     int64
 44  2011      61 non-null     int64
 45  2012      61 non-null     int64
 46  2013      61 non-null     int64
 47  2014      61 non-null     int64
 48  2015      61 non-null     int64
 49  2016      61 non-null     int64
 50  2017      61 non-null     int64
 51  2018      61 non-null     int64
 52  2019      61 non-null     int64
 53  2020      61 non-null     int64
 54  2021      61 non-null     int64
dtypes: int64(53), object(2)
memory usage: 26.3+ KB

In [162]:
df_comercio_com_titulo.head(60)

,id,control,cultivar,1970,1971,1972,1973,1974,1975,1976,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,VINHO DE MESA,VINHO DE MESA,98327606,114399031,118377367,116617910,94173324,108031792,139238614,...,206969571,221590810,206404427,209198468,166769622,176059959,177186273,180446489,215557931,210012238
1,2,vm_Tinto,Tinto,83300735,98522869,101167932,98196747,77167303,91528090,116407222,...,173964776,188033494,178250072,182028785,146646365,154309442,155115499,158519218,189573423,185653678
2,3,vm_Rosado,Rosado,107681,542274,7770851,8425617,8891367,7261777,11748047,...,1738134,1777648,1419855,1409002,1391942,1097426,1972944,1265435,1394901,1931606
3,4,vm_Branco,Branco,14919190,15333888,9438584,9995546,8114654,9241925,11083345,...,31266661,31779668,26734500,25760681,18731315,20653091,20097830,20661836,24589607,22426954
4,5,VINHO FINO DE MESA,VINHO FINO DE MESA,4430629,4840369,5602091,7202830,7571802,8848303,14095648,...,22469950,27912934,20424983,20141631,19630158,15874354,14826143,15684588,24310834,27080445
5,6,vm_Tinto,Tinto,435354,428927,624499,783508,1616144,2050960,4450570,...,15443016,19121750,15354938,15572632,15228514,12021684,11150517,11433702,18202453,19337862
6,7,vm_Rosado,Rosado,183234,227299,403664,1377333,1725564,2130619,3118919,...,150806,214269,164219,169185,172351,182080,262430,503524,993248,1603537
7,8,vm_Branco,Branco,3812041,4184143,4573928,5041989,4230094,4666724,6526159,...,6876128,8576915,4905826,4399814,4229293,3670590,3413196,3747362,5115133,6139046
8,9,VINHO FRIZANTE,VINHO FRIZANTE,466480,358116,356340,327865,270641,301293,248456,...,1605767,1764851,1893469,1836167,1727386,1586985,1638337,1826433,2557585,3696762
9,10,VINHO ORGÂNICO,VINHO ORGÂNICO,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2554,10718,18686
10,11,VINHO ESPECIAL,VINHO ESPECIAL,7325789,7824931,8737605,9693953,7638484,10260445,12392725,...,239,2257,7231,593,331,0,0,0,0,0
11,12,ve_Tinto,Tinto,4730346,4802828,4347706,5017487,3763509,4815235,4819463,...,239,2257,7231,593,331,0,0,0,0,0
12,13,ve_Rosado,Rosado,1229564,1662821,1901801,2062011,1989341,2885972,4231765,...,0,0,0,0,0,0,0,0,0,0
13,14,ve_Branco,Branco,1365879,1359282,2488098,2614455,1885634,2559238,3341497,...,0,0,0,0,0,0,0,0,0,0
14,15,ESPUMANTES,ESPUMANTES,2743678,2907289,3523335,3625230,3442734,3691348,4204666,...,14889147,15978504,17191075,18897144,16945710,17583283,18218375,22759859,22610762,31242697
15,16,es_Espumante_Moscatel,Espumante Moscatel,0,0,0,0,0,0,0,...,3610289,3783531,4588465,5010704,4507467,5561181,6526075,8997187,9298571,12240059
16,17,es_Espumante,Espumante,0,0,0,0,0,0,0,...,11278858,12194973,12602610,13886440,12438243,12022102,11692300,13762361,13311450,19001999
17,18,es_Espumante Orgânico,Espumante Orgânico,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,311,742,639
18,19,SUCO DE UVAS,SUCO DE UVAS,2626855,2745249,4069351,5668991,4673891,5802187,6433821,...,53832204,75973297,88013377,115288072,92290851,107243326,140472108,147907617,144889668,147753321
19,20,su_Suco_Natural,Suco Natural Integral,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,131628685,114453657,115173833
20,21,su_Suco_Reprocessado,Suco Reprocessado/reconstituido,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7759932,22066742,26136089
21,22,su_Suco_Orgânico,Suco Orgânico,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,416849,553391,902299
22,23,su_Outros_sucos,Outros sucos de uvas,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8102151,7815879,5541100
23,24,SUCO DE UVAS CONCENTRADO,SUCO DE UVAS CONCENTRADO,0,0,59044,1951966,1619428,768401,1467883,...,33529324,38369914,39359935,34923477,28859784,26815645,23572263,28721470,22422414,26730942
24,25,OUTROS PRODUTOS COMERCIALIZADOS,OUTROS PRODUTOS COMERCIALIZADOS,19844550,20351384,23615205,25401454,24530878,23102540,28321777,...,30316511,36841561,34963296,31922948,27120309,28027052,31246158,34794651,26547242,26657930
25,26,ou_Outros vinhos (sem informdetalhada,Outros vinhos (sem informação detalhada),0,0,0,0,0,0,0,...,0,0,0,0,0,0,3734763,310886,192057,17618
26,27,ou_Agrin,"Agrin (fermentado, acetico misto)",0,0,0,0,0,0,0,...,5311258,56936,0,0,0,0,0,0,0,0
27,28,ou_Aguardente,Aguardente de vinho 50°gl,0,0,0,0,0,0,0,...,0,0,0,5,0,0,0,0,866,0
28,29,ou_Alcool_vinico,Alcool vinico,0,0,0,0,0,0,0,...,0,0,0,0,6315,49662,21575,0,6640,0
29,30,ou_Bagaceira,Bagaceira (graspa),1192987,1111014,1059696,997624,839441,706946,698399,...,14710,17075,14472,16268,9301,9257,6929,8746,7610,7676
30,31,ou_Base_champenoise,Base champenoise champanha,0,0,0,0,0,0,0,...,42671,27078,46476,72774,74805,48866,74941,65692,8772,9580
31,32,ou_Base_charmat,Base charmat champanha,0,0,0,0,0,0,0,...,46518,97260,75067,117404,122356,298836,287361,271714,123,4230
32,33,ou_Base_espumante,Base espumante moscatel,0,0,0,0,0,0,0,...,25921,26483,37395,77054,131739,139070,109200,115468,23703,49734
33,34,ou_Bebida,Bebida de uva,0,0,0,0,0,0,0,...,261223,291188,70999,2801,1483,10297,10330,498512,354511,324298
34,35,ou_Borra_liqwuida,Borra líquida,0,0,0,0,0,0,0,...,21980,22000,33381,24091,15000,20795,11600,17398,22975,935
35,36,ou_Borra_seca,Borra seca,0,0,0,0,0,0,0,...,89000,62825,106400,128754,57292,4970,721280,153770,146260,414100
36,37,ou_Brandy,Brandy (conhaque),9388296,9893167,11876098,12156057,12885577,11418527,14938849,...,5495,6276,6625,8118,8253,5089,4652,5015,7966,7311
37,38,ou_Cooler,Cooler,0,0,0,0,0,0,0,...,4258333,4028017,4045218,3297202,2450732,2471612,3091682,3782516,6260381,6107943
38,39,ou_Coquetel,Coquetel com vinho,0,0,0,0,0,0,0,...,907199,806955,736496,611787,506532,418433,349836,269701,205664,244184
39,40,ou_Destilado,Destilado de vinho,533987,1023876,1573023,1485567,1409986,1793135,1373075,...,30000,24838,150,0,6700,0,82,309,200,175
40,41,ou_Filtrado_doce,Filtrado doce,346403,432991,670626,837970,1039110,1353194,1792832,...,7108554,6685648,6267047,6001714,4225414,4208753,3867645,4076204,2415338,2430821
41,42,ou_Jeropiga,Jeropiga,0,0,0,0,0,0,48203,...,55050,94860,64937,58860,14429,508,173,0,1267,1763
42,43,ou_Mistelas,Mistelas,178350,81510,133865,160470,45878,272141,88300,...,5097,1655,948,1144,835,1194,1902,3765,1201,9075
43,44,ou_Mosto_concentrado,Mosto concentrado,44971,20502,0,0,761417,251197,309196,...,0,0,0,0,0,0,0,0,0,0
44,45,ou_Mosto_uva,Mosto de uva,0,0,0,0,0,0,0,...,29304,325562,1818425,335966,9458,63971,715708,5736852,48044,803171
45,46,ou_Mosto_sulfitado,Mosto sulfitado,401030,410850,447600,1724244,239200,34300,420300,...,0,0,0,0,0,0,0,94000,0,0
46,47,ou_Nectar,Nectar de uva,0,0,0,0,0,0,0,...,5644055,5347775,3488907,3959884,3288046,4727294,3517417,4006608,3319597,4021229
47,48,ou_Outros_produtos,Outros produtos,0,0,0,0,0,0,0,...,484205,529274,639191,660042,763041,1082923,1773526,2294581,2543754,2105686
48,49,ou_Polpa,Polpa de uva,0,0,0,0,0,0,0,...,1995839,1981851,2358125,2500025,1924093,1876212,1853162,1838395,1129453,1002033
49,50,ou_Preparado_líquido,Preparado líquido para refresco,0,0,0,0,0,0,0,...,613313,623481,259320,160245,33684,30519,76888,52567,11366,23455
50,51,ou_Refrigerante,Refrigerante +50% suco,0,0,0,0,0,0,0,...,0,0,0,0,0,0,40574,110648,144945,175954
51,52,ou_Sangria,Sangria,0,0,0,0,0,0,0,...,73590,76039,86279,131599,77070,62272,58498,67279,11017,17222
52,53,ou_Vinagre_balsamico,Vinagre balsamico,0,0,0,0,0,0,0,...,102259,122749,124379,120677,101991,81944,133714,211653,248771,332217
53,54,ou_Vinagre_duplo,Vinagre duplo,0,0,0,0,0,0,0,...,1208132,3233270,969702,1164527,1083539,975992,888589,1130092,1075579,795060
54,55,ou_Vinagre_simples,Vinagre simples,1359297,1256068,1524908,1426737,1717666,1574960,748459,...,4027358,8049936,8180657,8188031,8186761,7686691,6994467,6246945,6049584,5647166
55,56,ou_Vinho_acetificado,Vinho acetificado,0,0,0,0,0,0,0,...,2110450,3154800,4465675,3359266,3097566,2769202,2158993,2592380,1879227,1448086
56,57,ou_Vinho_base,Vinho base para espumantes,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57,58,ou_Vinho_composto,Vinho composto,3386173,3645774,3921573,4168841,3670736,3493104,5429800,...,510914,595513,450121,413735,377685,485944,249165,366549,63625,227116
58,59,ou_Vinho_licoroso,Vinho licoroso,3013056,2475632,2407816,2443944,1921867,2205036,2474364,...,645341,609153,616904,510975,546189,496746,491165,465964,362340,376597
59,60,ou_Vinho_leve,Vinho leve,0,0,0,0,0,0,0,...,0,0,0,0,0,0,198,306,396,0

In [163]:
df_comercio_com_titulo[df_comercio_com_titulo['control'] == 'VINHO DE MESA'] # 0
df_comercio_com_titulo[df_comercio_com_titulo['control'] == 'VINHO FINO DE MESA'] # 4
# 8 / 9 / 10 / 14 / 18 / 23 / 24
# df_comercio_com_titulo[df_comercio_com_titulo['cultivar'] == 'VINHO'] # 4

df_comercio_com_titulo.drop(index=0, inplace=True)
df_comercio_com_titulo.drop(index=4, inplace=True)
df_comercio_com_titulo.drop(index=8, inplace=True)
df_comercio_com_titulo.drop(index=9, inplace=True)
df_comercio_com_titulo.drop(index=10, inplace=True)
df_comercio_com_titulo.drop(index=14, inplace=True)
df_comercio_com_titulo.drop(index=18, inplace=True)
df_comercio_com_titulo.drop(index=23, inplace=True)
df_comercio_com_titulo.drop(index=24, inplace=True)

In [166]:
df_comercio_filtrada = df_comercio_com_titulo[filtro_colunas]